section {
    max-width: 1080px;
    padding: 0 15px;
    margin: 0 auto;
}

@mixin section_title ($display,$pd,$ta) {
    display: $display;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: $ta;
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    padding: $pd;
}

@mixin section_title_sub ($fs,$ta) {
    font-size: $fs;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: -0.2px;
    text-align: $ta;
    color: rgb(153, 153, 153);
}


.Swiper_wrap {
    position: relative;
    margin-top: 30px;
    .last_slidePage {
        aspect-ratio: 249 / 320;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .all_view_btn {
            display: inline-block;
            width: 60px;
            height: 60px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 50%;
            &::after {
                content: 'next';
                display: inline-block;
                font-family: swiper-icons;
                font-size: 24px;
                font-weight: 600;
                color: #5f0080;
                position: relative;
                left: 2px;
            }
            &:hover,&:focus {
                border: 1px solid #e0e0e0;
                outline: unset;
                background-color: rgba(244,244,244);
            }
        }
        span {
            display: inline-block;
            font-size: 16px;
            margin-top: 15px;
            color: #424242;
        }
    }
}
.img_box {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    .saletag {
        display: none;
        position: absolute;
        background-color: rgb(189, 118, 255);
        top: 8px;
        left: 8px;
        padding: 4px 8px;
        color: #fff;
        font-size: 14px;
        border-radius: 3px;
        &.on {
            display: inline-block;
        }
    }
    .product_img {
        width: 100%;
        height: 100%;
    }
    .coupone2 {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 125px;
        height: 125px;
        &.on {
            display: inline-block;
        }
    }
}
.cart_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 4px 0;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    span {
        font-size: 15px;
    }
}
.contents_box {
    margin-top: 5px;
    .item_descript {
        margin-bottom: 8px;
        font-size: 14px;
        color: rgb(153, 153, 153);
        line-height: 1.38;
    }
    .item_title {
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
        margin-bottom: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        letter-spacing: normal;
        word-break: break-word;
        overflow-wrap: break-word;
    }
    .origin_price {
        margin-top: 8px;
        color: rgb(181, 181, 181);
        font-size: 14px;
        text-decoration: line-through;
    }
    .real_price {
        .saletag {
            font-weight: 700;
            color: rgb(250, 98, 47);
            margin-right: 7px;
        }
        .total_price {
            font-weight: 700;
        }
    }
    .comment_count {
        margin-top: 8px;
        display: flex;
        align-items: center;
        span {
            margin-left: 4px;
            font-size: 13px;
            color: rgb(167, 178, 188);;
        }
    }
}
.swiper_prev,
.swiper_next {
    position: absolute;
    top: calc((315px / 2));
    z-index: 10;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #fafafa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    box-shadow: 0px 0px 9px rgba(95, 0, 128, 0.05);
    &::after {
        font-family: swiper-icons;
        font-size: 18px;
        font-weight: 600;
        color: #424242;
    }
    &:hover,&:focus,&.active {
        outline: none;
        border: unset;
        box-shadow: 0px 2px 13px rgba(95, 0, 128, 0.15);
    }
}
.swiper_prev {
    left: -22.5px;
    &::after {
        content: 'prev';
        margin-left: -3px;
    }
}
.swiper_next {
    right: -22.5px;
    &::after {
        content: 'next';
        margin-right: -3px;
    }
}
.swiper-button-disabled {
    display: none;
}

#section1 {
    padding-top: 80px;
    .section_title {
        @include section_title(flex,8px 0px 8px 8px, center );
        .arrow {
            line-height: 40px;
            position: relative;
            left: -5px;
        }
    }
    .section_title_sub {
        @include section_title_sub(16px,center)
    }
    .img_box {
        aspect-ratio: 249 / 320;
    }
}

#section2 {
    padding-top: 120px;
    .section_inner_flex {
        display: flex;
        justify-content: space-between;
    }
    .section_title {
        @include section_title(block,0, left )
    }
    .section_title_sub2 {
        @include section_title_sub(13px,left)
    }
    .img_box {
        max-width: 694px;
        aspect-ratio: 694 / 347;
    }
    .setTime {
        font-size: 32px;
        font-weight: 800;
        padding: 24px 0;
        .clock_icon {
            position: relative;
            top: 3px;
            margin-right: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgb(189, 118, 255);
            .bar_fix {
                position: absolute;
                top: 8px;
                left: 50%;
                width: 2px;
                height: 8px;
                background-color: #fff;
            }
            .bar {
                display: inline-block;
                width: 2px;
                height: 14px;
                position: absolute;
                top: 8.5px;
                left: 48%;
                transform: rotate(92deg);
                animation: 1.5s rotate infinite ;
                >div {
                    position: relative;
                }
                .bar_fix {
                    width: 1.5px;
                    height: 10px;
                    background-color: transparent;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }
                .bar_move {
                    width: 2px;
                    height: 7px;
                    background-color: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            @keyframes rotate {
                0%{
                    transform: rotate(92deg);
                }

                100%{
                    transform: rotate(452deg);
                }
            }
        }
    }
}