.category_filter,.category_filter_out {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: #fff;
    display: none;
    > div {
        width: 249px;
    }
    //category depth effect
    &:hover {
        .list-container {
            left: 100%;
            opacity: 1;
        }
    }
}
.filter-container {
    width: 249px;
    border: 1px solid #e0e0e0;
    button {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: unset;
        padding: 7px 0px 9px 14px;
        img {
            max-width: 24px;
        }
        > span {
            color: #424242;
            font-size: 14px !important;
        }

        &:hover,&.active,&:focus {
            border-color: transparent;
            background-color: rgb(247, 247, 247);
        }
    }
    .filter-active {
        background-color: rgb(247, 247, 247);
    }
}
.list-container {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    font-size: 14px;
    position: absolute;
    left: 90%;
    top: 0;
    width: 0;
    opacity: 0;
    transition: all 0.2s;
    .list-item-container {
        .list-item {
            padding: 7px 0px 9px 14px;
            &:hover {
                color: #5f0080;
            }
        }
    }
}
//category mouse out effect reset
.category_filter_out {
    .filter-active {
        background-color: #fff;
    }
}